<!DOCTYPE HTML>
<html>

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
	<script src="static/js/webix/codebase/webix.js" type="text/javascript"></script>
    <link rel="stylesheet" href="static/js/webix/codebase/webix.css" type="text/css">
    <link rel="stylesheet" href="static/css/balloo.css" type="text/css">
    <script type="text/javascript" src="static/js/socket.io.min.js"></script>
    <link rel="shortcut icon" href="static/img/wings.ico">
    <script type="text/javascript" src="static/js/viewmain.js"></script>
    <script type="text/javascript" src="static/js/viewimage.js"></script>
</head>

<body>


	<div id="panel_dataitems" style='display:none;'>
        <div class="webix_icon icon fa-cloud-download"></div>
        <div class="details">
            <div class="value" id="value_dataitems">-</div>
            <div class="text">data messages</div>
        </div>
        <div class="footer">View more <span class="webix_icon fa-angle-double-right"></span></div>
	</div>

	<div id="panel_lastmessage" style='display:none;'>
        <div class="webix_icon icon fa-clock-o"></div>
        <div class="details">
            <div class="value" id="value_lastmsg">-</div>
            <div class="text">last message</div>
        </div>
        <div class="footer">View more <span class="webix_icon fa-angle-double-right"></span></div>
	</div>

	<div id="panel_altitude" style='display:none;'>
        <div class="webix_icon icon fa-line-chart"></div>
        <div class="details">
            <div class="value">12'458 m</div>
            <div class="text">altitude</div>
        </div>
        <div class="footer">View more <span class="webix_icon fa-angle-double-right"></span></div>
	</div>

	<div id="panel_increasing" style='display:none;'>
        <div class="webix_icon icon fa-fighter-jet"></div>
        <div class="details">
            <div class="value">5 m/s</div>
            <div class="text">increasing</div>
        </div>
        <div class="footer">View more <span class="webix_icon fa-angle-double-right"></span></div>
	</div>

    <div id="titlecontainer" style='display:none;'>
       <!--<div class="titletext">balloo - realtime web service</div>-->
        <img src="static/img/logo_invert_weiss.png" height="35px" style="padding-left:20px"/>
    </div>

    <div id="titleconnection" class="titleconnection" style='display:none;'>
        connected!
    </div>

    <div id="boximages" class="boximages" style='display:none;'>
       <div class="boxheader">images</div>
        body text
    </div>

    <div id="boxctlog" class="boxctlog" style='display:none;'>
       <pre style="font-size: 11px; padding:0px; margin: 0px; margin-left: 10px;" id="boxctlogtext">
       </pre>
    </div>



	<script type="text/javascript" charset="utf-8">

        var menu_data = [
            {
                id:"1",
                value:"Info",
                css:{'background-color':'rgb(95, 95, 95)'},
            }
        ];
        var menu = {
            view:"menu",
            data: menu_data,
            css:{'background-color':'rgb(95, 95, 95)'}
        };



		webix.ui({
			type: "clean",
            id: "balloodoc",
			rows: [
            {
                type:"clean",
                /*cols:[ menu ],*/
                /*css:{'background-color':'rgb(95, 95, 95)'},*/
                height: 50,
                cols: [{
                    type: "space",
                    template: "html->titlecontainer",
                    /*template: "ssss"*/
                    css:{'background-color':'rgb(95, 95, 95)'},
                },{
                    view:"toolbar",
                    cols:[
                        {
                            gravity: 4,
                        }, {
                            view:"icon",
                            icon:"database",
                            id:"action_cleanup"
                        }, {
                            view:"icon",
                            icon:"key",
                            id:"action_setnewpasswd"
                        }, {
                            view:"icon",
                            icon:"user-secret",
                            id:"action_login"
                        }, {
                            view:"icon",
                            icon:"refresh fa-spin",
                            id:"action_connected"
                        }
                    ]
                }]
            }, {
                type: "space",
			    rows: [
                {
                    type: "wide",
                    height: 130,
                    id: "panels",
                    cols: [{
                        css:{'background-color':'rgb(166, 147, 235)', 'box-shadow': '0 0 8px rgba(0,0,0,.2)', 'border-radius': '2px'},
                        template: "html->panel_dataitems",
                        id: "col_dataitems"
                    }, {
                        css:{'background-color':'rgb(99, 180, 234)', 'box-shadow': '0 0 8px rgba(0,0,0,.2)', 'border-radius': '2px'},
                        template: "html->panel_lastmessage",
                        id: "col_lastmessage"
                    }, {
                        css:{'background-color':'rgb(241, 155, 96)', 'box-shadow': '0 0 8px rgba(0,0,0,.2)', 'border-radius': '2px'},
                        template: "html->panel_altitude"
                    }, {
                        css:{'background-color':'rgb(73, 205, 129)', 'box-shadow': '0 0 8px rgba(0,0,0,.2)', 'border-radius': '2px'},
                        template: "html->panel_increasing"
                    }]

                },{
                    container: "areaA",
                    id:"views",
                    cells:[{
                        type: "wide",
                        id: "viewmain",
                        cells: [viewmain_data]
                    },{
                        type: "wide",
                        id: "viewimage",
                        cells: [viewimage_data]
                    }]
                }]
            }]
		});



        $$('action_connected').attachEvent("onItemClick", function(id,value){
            //$('selector').css('backgroundImage','url(images/example.jpg)');
            //console.log($('.image_box').css('background-image'))
            //webix.message("Delete row: " + id);
        });


        var socket
        var logarr = []
        var connected = false;
        const RETRY_INTERVAL = 10000;
        var timeout;
        $(document).ready(function(){
            $$('viewimage').bind($$('viewmain'));

            $$('action_cleanup').hide();
            $$('action_setnewpasswd').hide();

            namespace = '/api'; // change to an empty string to use the global namespace
            socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('dataitems', function(msg) {
                //console.log(msg)
                $('#value_dataitems').html(msg.msgcount);
                $$('col_dataitems').define("template","html->panel_dataitems");
                $$('col_dataitems').refresh();
                lastmsgrec = 0
                if(msg.lastimg){
                    addimg2main(msg.lastimg)
                }
            });

            socket.on('startup', function(msg) {
                console.log(msg)
                $('#value_dataitems').html(msg.msgcount);
                $$('col_dataitems').define("template","html->panel_dataitems");
                $$('col_dataitems').refresh();
                lastmsgrec = msg.lastmsg
                addsec2lastmsg()

                if(msg['auth'] == true){
                    $$('action_cleanup').show();
                    $$('action_setnewpasswd').show();
                    $$('action_login').hide();
                    auth = true
                }

                for (var i = msg['log'].length-1; i > -1; i--) {
                    addmsg2log(msg['log'][i])
                }
                addimg2main(msg['img'][0])

            });

            socket.on('log', function(msg) {
                //countlogmsg++;
                addmsg2log(msg)
            });

            socket.on('auth', function(msg) {
                webix.storage.cookie.put('uuid', msg['uuid']);
                console.log(msg)
                if(msg['auth'] == true){
                    webix.message("login successful");
                    auth = true;
                    $$('log_form_window').hide();
                    $$('action_cleanup').show();
                    $$('action_setnewpasswd').show();
                    $$('action_login').hide();
                    return
                }
                webix.message({type:"error", text:"password is invalid"});
            });

            socket.on('connect', function() {
                //alert("connected")
                connected = true;
                clearTimeout(timeout);
                socket.emit('join', {room: 'webroom', 'uuid': webix.storage.cookie.get('uuid')});
                icon_connection_ok()
            });

            socket.on('disconnect', function(){
                //alert("socket: disconnect")
                connected = false;
                icon_connection_nok()
            });

            socket.on('error', function(){
                //socket.socket.reconnect();
                //alert("socket: error")
                connected = false;
                icon_connection_nok()
            });

		});


        function icon_connection_ok(){
            $$('action_connected').config.icon = "signal"
            $$('action_connected').refresh();
        }

        function icon_connection_nok(){
            $$('action_connected').config.icon = "refresh fa-spin"
            $$('action_connected').refresh();
        }


        function calc2min(sec){
            var minutes = Math.floor(sec / 60);
            var seconds = sec - minutes * 60;
            if(seconds < 10){
                return minutes + ":0" + seconds;
            }
            return minutes + ":" + seconds;

        }

        var lastmsgrec = 0;
        function addsec2lastmsg(){
            lastmsgrec += 1;
            $('#value_lastmsg').html(calc2min(lastmsgrec));
            $$('col_lastmessage').define("template","html->panel_lastmessage");
            $$('col_lastmessage').refresh();
        }

        setInterval(addsec2lastmsg, 1000);

        // ----------------------------------------------------------------
        // LOGIN

        webix.ui({
            view:"window",
            id:"log_form_window",
            height:250,
            width:300,
            position:"center",
            head:false,
            body:{
                view:"form",
                id:"log_form",
                width:300,
                elements:[
                    { view:"text", type:"password", label:"Password", id:"log_form_password"},
                    { margin:5, cols:[
                        { view:"button", value:"Login" , type:"form", id:"log_form_login" },
                        { view:"button", value:"Cancel", id:"log_form_cancel" }
                    ]}
                    ]
            }
        }).hide();

        auth = false
		$$('log_form_cancel').attachEvent("onItemClick", function(id,value){
           $$('log_form_window').hide();
		});

		$$('log_form_login').attachEvent("onItemClick", function(id,value){
            emitauth();
		});

        $$("log_form_password").attachEvent("onKeyPress", function(code, e) {
            if (code === 13) {
                emitauth();
            }
        });

        function emitauth(){
            socket.emit('auth', {
                password:       $$('log_form_password').getValue(),
                'loggingtype':  'auth',
                'uuid':         webix.storage.cookie.get('uuid')
            });

        }

        // ----------------------------------------------------------------
        // ---

        var retryConnectOnFailure = function(retryInMilliseconds) {
            setTimeout(function() {
              if (!connected) {
                socket.socket.reconnect();
              }
            }, retryInMilliseconds);
          }

        retryConnectOnFailure(RETRY_INTERVAL);

	</script>
</body>
</html>